#mylogger-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	z-index: 10000;
	transition: height 300ms;
}

#mylogger {
	padding: 0;
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: scroll;
	overflow-y: scroll;
	background-color: black;
	color: white;
	width: 100%;
	height: calc(100% - 15px);
	font-family: monospace;
	font-size: 1em;
}

#mylogger::selection {
	background: lightblue; /* WebKit/Blink Browsers */
}

#mylogger::-moz-selection {
	background: lightblue; /* Gecko Browsers */
}

#mylogger-toggle {
	float: right;
	text-align: center;
	height: 15px;
	width: 40px;
	font-size: 2px;
	background-image: url(images/logger-toggle.png);
	vertical-align: middle;
	cursor: pointer;
}
	
@keyframes nimiq-connecting {
	0% {
		background-position: -16px 0;
	}
	25% {
		background-position: -32px 0;
	}
	50% {
		background-position: -48px 0;
	}
	75% {
		background-position: -64px 0;
	}
	100% {
		background-position: -16px 0;
	}
}

.mycanvas {
	position: absolute;
	top: 0;
	left: 0;
	margin: 3px;
	background: transparent !important;
}

.nimiq-canvas {
	position: absolute;
	top: 0;
	left: 0;
	margin: 3px;
	background: white !important;
}

.status-nimiq-connection {
	background: url(images/nimiq-connection.png);
	width: 16px;
	height: 16px;
	margin-left: 2px;
	margin-right: 2px;
}

.status-nimiq-connecting {
	animation: nimiq-connecting 1s steps(1) infinite;
	-webkit-animation: nimiq-connecting 1s steps(1) infinite;
	/*-webkit-animation: nimiq-connecting 1s steps(1) infinite; */ 
}
