#mylogger-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	z-index: 1000;
	transition: height 300ms;
}

#mylogger {
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: scroll;
	overflow-y: scroll;
	background-color: black;
	color: white;
	width: 100%;
	height: 100%;
	font-family: monospace;
}

#mylogger-toggle {
	float: right;
	text-align: center;
	height: 15px;
	width: 40px;
	font-size: 2px;
	background-image: url(images/logger-toggle.png);
	vertical-align: middle;
	cursor: pointer;
}
