#mylogger-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	z-index: 10000;
	transition: height 300ms;
}

#mylogger {
	padding: 0;
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: scroll;
	overflow-y: scroll;
	background-color: black;
	color: white;
	width: 100%;
	height: calc(100% - 15px);
	font-family: monospace;
	font-size: 1em;
}

#mylogger-toggle {
	float: right;
	text-align: center;
	height: 15px;
	width: 40px;
	font-size: 2px;
	background-image: url(images/logger-toggle.png);
	vertical-align: middle;
	cursor: pointer;
}
	
@keyframes waiting-animation {
	0% {
		background-position: 0 0;
	}
	16.66666667% {
		background-position: -60px 0;
	}
	33.33333333% {
		background-position: -120px 0;
	}
	50% {
		background-position: -180px 0;
	}
	66.66666667% {
		background-position: -240px 0;
	}
	83.33333333% {
		background-position: -300px 0;
	}
	100% {
		background-position: 0 0;
	}
}

.mycanvas {
	position: absolute;
	top: 0;
	left: 0;
	margin: 3px;
	background: transparent !important;
}

.nimiq-canvas {
	position: absolute;
	top: 0;
	left: 0;
	margin: 3px;
	background: white !important;
}
